.mainNav {
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: white;
  box-shadow: 0px -1px 0px 0.2px rgb(226, 225, 225);
}
.NavBar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 10px 2px;
  padding: 10px 5%;
  height: 70px;
}

.ulNavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 60px;
  list-style: none;
  font-size: medium;
}
li a {
  color: black;
}
li a.active {
  color: orangered;
}
.ulmenu {
  position: fixed;
  top: 70px;
  right: -100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  list-style: none;
  font-size: medium;
  background-color: white;
  padding: 10px;
  transition: 0.2s all;
  box-shadow: 0px 2px 0px 0px rgb(231, 230, 230);
  z-index: 100;
}
.active {
  right: 0;
}
.ulNavBar li a,
.ulmenu li a {
  text-decoration: none;
}
.ulmenu li {
  border-bottom: solid 1px rgb(214, 214, 214);
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.NavBar .menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .ulNavBar {
    display: none;
  }
  .NavBar .menu {
    display: inline-block;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) {
  .ulmenu {
    display: none;
  }
}
